.title-cards {
  margin-bottom: 30px;
}

.title-cards h2 {
  margin-bottom: 8px;
}

.card-list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.card-list img {
  width: 240px;
  border-radius: 4px;
  cursor: pointer;
}

.card-list .card {
  position: relative;
}

.card p {
  position: absolute;
  right: 10px;
  bottom: 0;
}

@media (max-width: 380px) {
  .card-list {
    gap: 6px; /* smaller gap */
  }

  .card-list img {
    width: 60px; /* smaller card width for very small screens */
  }

  .title-cards h2 {
    font-size: 0.5rem; /* reduce heading size */
  }

  .card p {
    font-size: 0.2rem; /* reduce text inside card */
    right: 6px;
    bottom: 2px;
  }
}
